<app-header [currentPage]="'management'"></app-header>
<div class="browse-header-section">
  <div class="container-x-small">
    <div class="title-wrap-center-large">
      <div class="margin-bottom-16">
        <h2>
          Admin<span class="text-color-primary"></span>
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="browse-wrap">
  <div class="browse-section">
    <div class="container-regular">
      <div class="w-layout-grid browse-grid">
        <div class="browse-column">
          <div class="w-form">
              <div class="browse-menu">
                <div class="filters-title-wrapper">
                  <img
                    src="https://cdn.prod.website-files.com/63337525695d8ba70ab44222/63562c0bf9e1cc52faddd26a_information-fill.svg"
                    loading="eager" alt="" class="icon-regular" />
                  <div class="detail text-color-primary">selecionar entidade</div>
                </div>
                <div *ngFor="let entity of entities" data-hover="false" data-delay="0"
                  class="browse-dropdown w-dropdown">
                  <button type="button" readonly class="w-users-userformbutton button-primary w-button"
                    (click)="setEntity(entity.name)">{{entity.label}}</button>
                </div>
              </div>
          </div>
        </div>
        <div *ngIf="!loading">
          <div class="browse-title-wrapper">
            <div class="paragraph-small">Mostrando: {{currentEntities.length}} {{currentEntity.name | lowercase }}</div>
            <div class="button-primary w-button" (click)="addEntity(currentEntity.type)">Adicionar {{currentEntity.name
              | lowercase | singularize}}</div>
          </div>
          <div class="w-dyn-list">
            <div role="list" class="jobs-collection-list w-dyn-items">
              <div *ngFor="let entity of currentEntities; let i=index" role="listitem" class="w-dyn-item">
                <div class="job-border w-inline-block">
                  <div class="job-tags">
                    <div class="job-hours actions" (click)="navigateTo('/'+currentEntity.type+'/'+entity.id)">Editar</div>
                    <div class="job-category actions" (click)="deleteEntity(entity,currentEntity.type)">Deletar</div>
                  </div>

                  <div class="margin-bottom-24">
                    <h6>{{entity.name}}</h6>
                  </div>
                  <ng-container *ngIf="isInstanceOfPlace(entity)">
                    <div class="job-tags">
                      <div class="job-hours">{{getPlace(entity).segment.name}}</div>
                      <div class="job-category">{{getPlace(entity).service_type.name}}</div>
                    </div>
                    <div class="job-card-details-wrap">
                      <div class="job-details-wrap">
                        <img
                          src="https://cdn.prod.website-files.com/63337525695d8ba70ab44222/63337525695d8b2585b442b4_Location%20Icon.svg"
                          loading="eager" alt="" class="icon-regular" />
                        <div>{{getPlace(entity).regionals | join: 'name'}}</div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
            <app-show-more *ngIf="currentEntity.type === 'places' && hasMore" [entity]="'places'"
              (result)="onPlacesLoaded($event)" />
          </div>
        </div>
        <app-loading *ngIf="loading"/>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
