<app-header [currentPage]="'about'"></app-header>

<div class="section-about-header">
  <div class="container-regular">
    <div data-w-id="7d4adb27-9758-978e-980d-92e7e419e860" class="w-layout-grid about-header">
      <div class="header-content">
        <div class="header-badge-white">
          <div>Cuide da</div>
          <div class="header-badge-light">
            <div>sua vida</div>
          </div>
        </div>
        <h2>Transição para a vida adulta de jovens com deficiência</h2>
      </div>
      <p id="w-node-da83c76b-8582-bdfd-54ac-0c0749a4f522-3fb44228" class="paragraph-regular text-color-white">
        Projeto de Extensão de Terapia Ocupacional da UFMG
      </p>
    </div>
    <div class="about-header-video-wrapper">

    </div>
  </div>
  <div data-w-id="5546e555-24a0-f73e-3077-6cea4357ecd9" class="about-header-bg"></div>
</div>

<div class="section-regular">
  <div class="about-content-background-color"></div>
  <div class="container-regular">
    <div class="w-layout-grid about-content-grid">
      <div id="w-node-ccd3efc2-503c-f97e-8ccc-38934be51f5a-3fb44228">
        <div class="margin-bottom-12">
          <div class="detail text-color-primary">Sobre o projeto</div>
        </div>
        <p class="paragraph-regular">A transição da adolescência para a vida adulta não é fácil, e pode ser ainda mais
          desafiadora para jovens com deficiência. Diante da carência de serviços que abordem as necessidades
          específicas desses jovens, o projeto de extensão "Cuide da sua vida" foi desenvolvido para auxiliar nas
          demandas relacionadas à promoção da autonomia e independência dessa população</p>
        <div class="about-content-list-wrapper">
          <div class="margin-bottom-24">
            <h4>
              Objetivo
            </h4>
          </div>
          <div class="about-content-list-item">
            <div class="paragraph-regular">Acolher, planejar e acompanhar jovens com deficiência no direcionamento para
              a promoção de autonomia e independência, vislumbrando a preparação para a vida adulta</div>
          </div>
        </div>
      </div>
      <div data-w-id="beb7038e-1484-b02d-5171-8f7827b14975" class="w-layout-grid about-content-image-grid">
        <div id="w-node-_891a2e3c-8db2-7181-d35a-5580af89f693-3fb44228" class="about-content-image-bottom-left">
          <img src="assets/cuidedasuavida_002.jpeg" loading="eager"
            id="w-node-_5d0089f8-8183-ac45-04bc-a4b4283492c6-3fb44228" alt="" class="image-cover" />
        </div>
        <div id="w-node-_36ecdbfe-7139-4220-d685-0caadfd024e2-3fb44228" class="about-content-image-top-right">
          <img src="assets/cuidedasuavida_005.jpeg" loading="eager"
            id="w-node-_36ecdbfe-7139-4220-d685-0caadfd024e3-3fb44228" alt="" class="image-cover" />
        </div>
        <div id="w-node-_830f4ea9-6d21-fe97-64e4-cf7f5edfa5c6-3fb44228">
          <img src="assets/cuidedasuavida_008.jpeg" loading="eager" alt="" class="image-cover" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-regular">
  <div class="container-regular">
    <div class="title-wrap-center max-width-450">
      <div class="margin-bottom-12">
        <div class="detail text-color-primary">sobre o projeto</div>
      </div>
      <div class="margin-bottom-24">
        <h4>Público-alvo</h4>
      </div>
      <p class="paragraph-regular">Jovens com deficiência de 16 a 24 anos e 11 meses de idade, com capacidade de
        compreensão, discernimento e comunicação (verbal ou alternativa)</p>
    </div>
    <div class="w-layout-grid about-team-image-grid">
      <img src="assets/cuidedasuavida_009.jpeg" loading="eager"
        id="w-node-_8d2cf6e8-2f20-9910-5cf6-825a2a726b87-3fb44228" alt="" class="image-cover" />
      <img src="assets/cuidedasuavida_004.jpeg" loading="eager" width="787"
        id="w-node-_2188cea0-b1c9-1999-8d80-7a5f0d7bc428-3fb44228" alt="" class="image-cover" />
      <img src="assets/cuidedasuavida_003.jpeg" loading="eager"
        id="w-node-_0b6fa830-0fde-8a26-8fdc-27f1d31bfcc7-3fb44228" alt="" class="image-cover" />
    </div>
    <div class="w-layout-grid about-team-image-grid-bottom">
      <img src="assets/cuidedasuavida_007.jpeg" loading="eager"
        srcset="assets/cuidedasuavida_007.jpeg 1080w, assets/cuidedasuavida_007.jpeg 1088w"
        sizes="90vw" alt="" class="image-cover" />
      <img src="assets/cuidedasuavida_006.jpeg" loading="eager"
        srcset="assets/cuidedasuavida_006.jpeg 500w, assets/cuidedasuavida_006.jpeg 1080w, assets/cuidedasuavida_006.jpeg 1088w"
        sizes="90vw" alt="" class="image-cover" />
    </div>
  </div>
</div>

<div class="section-regular">
  <div class="container-regular">
    <div class="title-wrap-center">
      <div class="margin-bottom-16">
        <h4>Contato</h4>
      </div>
      <p class="paragraph-regular">Via direct/email</p>
    </div>
    <div class="w-layout-grid contact-us-grid">
      <div id="w-node-a681d0e8-a327-f6e8-1998-8a38a6660cf0-3fb44228">
        <div id="w-node-a681d0e8-a327-f6e8-1998-8a38a6660cf1-3fb44228" class="contact-image-wrap">
          <img src="assets/cuidedasuavida_001.jpeg" loading="eager"
            srcset="assets/cuidedasuavida_001.jpeg 500w, assets/cuidedasuavida_001.jpeg 721w"
            sizes="90vw" alt="" class="image-cover" />
        </div>
        <div class="partnership-wrap">
          <div class="partnership-text-wrap">
            <div>
              Acolhimento, planejamento e acompanhamento de jovens com deficiência
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="w-form">
          <div class="rich-text w-richtext">
            <h5>Instagram</h5>
            <a href="https://www.instagram.com/cuide.ufmg?igsh=dGxid2VwNjBjY2I2" target="_blank" rel="noopener noreferrer">&#64;cuide.ufmg</a>
            <h5>Email</h5>
            <a href="mailto:projetocuidedasuavida@gmail.com">projetocuidedasuavida&#64;gmail.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
