<app-header></app-header>

<div class="w-users-userformpagewrap account-page-wrapper">
  <div class="account-left-block">
    <div class="w-users-userloginformwrapper account-form-block">
      <form [formGroup]="loginForm" (ngSubmit)="login()" data-wf-user-form-redirect="/" method="post">
        <div class="w-users-userformheader account-form-title">
          <div class="margin-bottom-16">
            <h3>Entrar</h3>
          </div>
        </div>
        <label for="Email">Usuário</label>
        <input type="email" maxlength="256" placeholder="" name="Email" id="wf-log-in-email" class="form-field w-input"
          required="" data-wf-user-form-input-type="email" formControlName="user" />
        <label for="Password">Senha</label>
        <input type="password" maxlength="256" placeholder="" name="Password" id="wf-log-in-password"
          class="form-field w-input" required="" data-wf-user-form-input-type="password" formControlName="password" />
        <button type="submit" class="w-users-userformbutton button-primary w-button">Entrar</button>
        <div class="form-divider"></div>
      </form>
    </div>
  </div>
  <div class="account-right-block">
    <div class="account-content-wrap">
      <div class="account-heading-wrap">
        <h1>Cuide da sua vida</h1>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
